@import url('https://fonts.googleapis.com/css2?family=REM:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-white: #fff;
    --color-orange: #ff702a;
    --background-color: #1e1d2b;
}

body{
    background-color: var(--background-color);  
    font-family: 'REM', sans-serif;
}

.bg-dark{
    background-color: var(--background-color) !important;
}

.navbar-brand{
    color: var(--color-orange);
}

.nav-link{
    color: var(--color-white);
}

.text-orange{
    color: var(--color-orange);
}

.row{
    border: 1px solid black;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff702a;
    --bs-btn-border-color: #ff702a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ff702a;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff702a;
    --bs-btn-active-border-color: #ff702a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff702a;
    --bs-btn-disabled-border-color: #ff702a;
}

